.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #242424;
  width: 100vw;
  height: 25vh;
  color: aliceblue;
  border-bottom: 1px solid aliceblue;
  justify-content: space-around;
}

.grid-container {
  display: grid;
  width: 40vw;
  margin-left: 2vw;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  background-color: #242424;
}
