.card {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  border: 1px solid aliceblue;
  color: aliceblue;
  border-radius: 1rem;
  filter: blur(1px) brightness(50%);
  height: 15vh;
  overflow: hidden;
}

.card:hover {
  filter: blur(0px);
}

.card h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card_orange {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  border: 1px solid rgb(240, 155, 28);
  color: rgb(240, 155, 28);
  border-radius: 1rem;
  filter: blur(1px) brightness(50%);
  height: 15vh;
  overflow: hidden;
}

.card_orange:hover {
  filter: blur(0px);
}

.card_red {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  border: 1px solid rgb(255, 79, 79);
  color: rgb(255, 79, 79);
  border-radius: 1rem;
  filter: blur(1px) brightness(50%);
  height: 15vh;
  overflow: hidden;
}

.card_red:hover {
  filter: blur(0px);
}

.little_desc {
  overflow: hidden;
  text-align: center;
}
