.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1rem;
  border: 1px solid aliceblue;
  color: aliceblue;
  border-radius: 1rem;
  padding: 1rem;
  filter: blur(1px) brightness(50%);
  height: 15vh;
  overflow: hidden;
}

.card:hover {
  filter: blur(0px);
}
.card h3 {
  margin: 1rem;
}

.card h4 {
  margin: 0.5rem;
}

.card_orange {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1rem;
  border: 1px solid rgb(240, 155, 28);
  color: rgb(240, 155, 28);
  border-radius: 1rem;
  padding: 1rem;
  filter: blur(1px) brightness(50%);
  height: 15vh;
  overflow: hidden;
}

.card_orange:hover {
  filter: blur(0px);
}
.card_orange h3 {
  margin: 1rem;
}

.card_orange h4 {
  margin: 0.5rem;
}

.card_red {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1rem;
  border: 1px solid rgb(255, 79, 79);
  color: rgb(255, 79, 79);
  border-radius: 1rem;
  padding: 1rem;
  filter: blur(1px) brightness(50%);
  height: 15vh;
  overflow: hidden;
}

.card_red:hover {
  filter: blur(0px);
}
.card_red h3 {
  margin: 1rem;
}

.card_red h4 {
  margin: 0.5rem;
}

.little_desc {
  overflow: hidden;
  text-align: center;
}
