.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25vh auto;
    border: 1px solid aliceblue;
    border-radius: 1rem;
    padding: 2rem;
    width: fit-content;
}
.login h3 {
    color: aliceblue;
    margin: 1rem;
}

.login div{
display: flex;
flex-direction: column;
align-items: center;
margin: 1rem;
}

.login button {
margin: 1rem 0rem;
}

.login button:hover {
    transform: scale(1.03);
}

.login form {
    display: flex;
    flex-direction: column;
    align-items: center;
}