:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
  background-color: #242424;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

h2 {
  color: aliceblue;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #242424;
  width: 100vw;
  color: aliceblue;
  padding: 5rem;
  border-bottom: 1px solid aliceblue;
}

.header h1 {
  margin: 2rem;
}

.header h2 {
  margin: 1rem;
}

.header a {
  color: rgb(127, 178, 255);
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1rem;
  border: 1px solid aliceblue;
  color: aliceblue;
  border-radius: 1rem;
  padding: 1rem;
  filter: blur(1px) brightness(50%);
  height: 15vh;
  overflow: hidden;
}

.little_desc {
  overflow: hidden;
  text-align: center;
}
.card:hover {
  filter: blur(0px);
}
.card h3 {
  margin: 1rem;
}

.card h4 {
  margin: 0.5rem;
}

.card_orange {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1rem;
  border: 1px solid rgb(240, 155, 28);
  color: rgb(240, 155, 28);
  border-radius: 1rem;
  padding: 1rem;
  filter: blur(1px) brightness(50%);
  height: 15vh;
  overflow: hidden;
}

.card_orange:hover {
  filter: blur(0px);
}
.card_orange h3 {
  margin: 1rem;
}

.card_orange h4 {
  margin: 0.5rem;
}

.card_red {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1rem;
  border: 1px solid rgb(255, 79, 79);
  color: rgb(255, 79, 79);
  border-radius: 1rem;
  padding: 1rem;
  filter: blur(1px) brightness(50%);
  height: 15vh;
  overflow: hidden;
}

.card_red:hover {
  filter: blur(0px);
}
.card_red h3 {
  margin: 1rem;
}

.card_red h4 {
  margin: 0.5rem;
}

.grid-container {
  padding: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 4rem;
  background-color: #242424;
}

.big_card {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1rem;
  border: 1px solid aliceblue;
  color: aliceblue;
  border-radius: 1rem;
  padding: 1rem;
  margin: 2rem;
}

.big_card_red {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1rem;
  border: 1px solid rgb(255, 79, 79);
  color: rgb(255, 79, 79);
  border-radius: 1rem;
  padding: 1rem;
  margin: 2rem;
}

.big_card_orange {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1rem;
  border: 1px solid rgb(240, 155, 28);
  color: rgb(240, 155, 28);
  border-radius: 1rem;
  padding: 1rem;
  margin: 2rem;
}

.all_tasks {
  width: 50vw;
}

.client_name {
  font-size: 2rem;
  margin: 1rem;
  color: aliceblue;
}

.task_name {
  font-size: 1.5rem;
  color: aliceblue;
  margin: 0.8rem;
}

.fast_task {
  color: aliceblue;
}

.underline {
  font-weight: 500;
  text-decoration: underline;
}

.desc {
  font-size: 1rem;
  color: aliceblue;
  margin: 1.2rem;
}

.duree {
  font-size: 1.2rem;
  margin: 1rem;
}

.deadline {
  font-size: 1.2rem;
}

.nav {
  margin: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2rem;
}

.nav_time {
  font-size: 1rem;
  color: aliceblue;
}

.task_detail {
  width: 60vw;
  text-align: center;
  margin: 4rem;
  border: 1px solid aliceblue;
  color: aliceblue;
  border-radius: 1rem;
  padding: 2rem;
}

.task_detail_red {
  width: 60vw;
  text-align: center;
  margin: 4rem;
  border: 1px solid rgb(255, 79, 79);
  color: rgb(255, 79, 79);
  border-radius: 1rem;
  padding: 2rem;
}

.task_detail_orange {
  width: 60vw;
  text-align: center;
  margin: 4rem;
  border: 1px solid rgb(240, 155, 28);
  color: rgb(240, 155, 28);
  border-radius: 1rem;
  padding: 2rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
